# Programming Assignment 4
## By Aidan Fearn
### CS-150-01
#### Version 1

# Task 1

In [23]:
grades=[45,78,65,89,96]
x=(sum(grades)/len(grades))
print(f"The average grade is: {x}%")
if x>=90 and x<=100:
    print("The grade is an A")
elif x<90 and x>=80:
    print("The grade is a B")
elif x<80 and x>=70:
    print("The grade is a C")
elif x<70 and x>=60:
    print("The grade is a D")
elif x>100 and x<0:
    print("Please reinput your grades in the list")
else:
    print("The grade is an F")

The average grade is: 74.6%
The grade is a C

# Task 2

In [21]:
student=('Aidan', 'Fearn', int('21'), 'Econ')
name, last_name, age, subject=student
if age>18:
    print(f"The student is an adult")
else:
    print(f"The student is a minor")

The student is an adult

# Task 3

In [45]:
months=int(input("Enter a value from 1-12: "))
if months>12:
    print("Please use a vlue within the range 1-12")
elif months==1:
    print("The month is January and there are 31 days in January")
elif months==2:
    print("The month is February and there are 28 days in February")
elif months==3:
    print("The month is March and there are 31 days in March")
elif months==4:
    print("The month is April and there are 30 days in April")
elif months==5:
    print("The month is May and there are 31 days in May")
elif months==6:
    print("The month is June and there are 30 days in June")
elif months==7:
    print("The month is July and there are 31 days in July")
elif months==8:
    print("The month is August and there are 31 days in August")
elif months==9:
    print("The month is September and there are 30 days in September")
elif months==10:
    print("The month is October and there are 31 days in October")
elif months==11:
    print("The month is November and there are 30 days in November")
elif months==12:
    print("The month is December and there are 30 days in December")
else:
    print("Please enter a value within the range 1-12")

Enter a value from 1-12: 10
The month is October and there are 31 days in October

# Task 4

In [50]:
side1=float(input("The length in cm of the first side is: "))
side2=float(input("The length in cm of the second side is: "))
side3=float(input("The length in cm of the third side is: "))
if side1==side2 and side2==side3:
    print("This is an equilateral triangle")
elif side1!=side2 and side2!=side3 and side3!=side1:
    print("This is a scalene triangle")
elif side1==side2 and side1!=side3:
    print("This is an isoceles triangle")
elif side2==side3 and side2!=side1:
    print("This is an isoceles triangle")
elif side1==side3 and side1!=side2:
    print("This is an isoceles triangle")
else:
    print("This is not a triangle")

The length in cm of the first side is: 12
The length in cm of the second side is: 23
The length in cm of the third side is: 44
This is a scalene triangle

# Task 5

In [8]:
numbers=[]
for n in range(21,41):
    numbers.append(n)
print(numbers)

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [20]:
even_squares=[n**2 for n in numbers if n%2==0]
print(even_squares)

[484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600]

In [21]:
odd_cubes=[n**3 for n in numbers if n%2==1]
print(odd_cubes)

[9261, 12167, 15625, 19683, 24389, 29791, 35937, 42875, 50653, 59319]